.comicTitle {
  color: white;
  font-size: 40px;
  margin: 40px 0 40px 0;
  text-align: center;
}

.cntImage {
  margin: auto;
}

.comicImage {
  margin: auto;
  display: block;
}

.rateStars {
  color: white;
}
