<div class="container">
  <div class="comicTitle">{{comicName}}</div>
  <div class="cntImage">
    <img class="comicImage" src="{{comicImg}}" title="{{comicName}}">
  </div>
  <div class="rateStars">
    <app-rating
    [comicName]="comicName"
    [comicImg]="comicImg"
    [comicId]="comicId"
    [rating]="rating"
    [currentRating]="currentRating"
    ></app-rating>
    <button class="refreshIcon" (click)="refreshComic()">
      <img src="../../assets/refrescar.png" alt="" title="Refrescar cómic">
    </button>
  </div>
</div>
