.container {
  text-align: center;
}

.comicTitle {
  color: white;
  font-size: 40px;
  margin: 40px 0 40px 0;
  text-align: center;
}

.cntImage {
  margin: auto;
  position: relative;
  display: inline-block;
}

.comicImage {
  margin: auto;
  display: block;
  max-height: 500px;
}

.rateStars {
  color: white;
}

.refreshIcon {
  margin-top: 20px;
  border: none;
  background: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}
