.cntStars {
  text-align: center;
  margin-top: 25px;
}

.stars {
  margin: auto;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.btnStars {
  border: none;
  background: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

