.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 15% 70% 15%;
}

.title {
  grid-row: 1/2;
  grid-column: 2/3;
  align-content: center;
}

.logo {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  display: block;
  height: 100px;
}

.content {
  grid-row: 2/3;
  grid-column: 2/3;
  color: white;
  font-size: 30px;
  text-align: center;
}

.btn {
  grid-row: 3/4;
  grid-column: 2/3;
}

.startButton {
  margin: auto;
  display: block;
  margin-top: 70px;
  height: 50px;
  width: 120px;
  background-color: #D3C21B;
  border: 2px solid black;
  font-size: 20px;
  &:hover {
    box-shadow: 0 0 20px 3px rgba(138, 121, 138, 0.9) ;
    cursor: pointer;
  }
}

